.breadcrumb-container {
  margin: 0;
  margin-top: 0.75rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.breadcrumb-element {
  p {
    margin: 0;
    padding: 0;
    line-height: normal;
  }
  a {
    margin-right: 0.5rem;
    text-transform: lowercase;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  .breadcrumb-container.mobile-only {
    display: flex;
  }
}
.breadcrumb-container.desktop-only {
  display: flex;
}