@use "./variables.scss" as *;
@use "sass:color";
@use "./callouts/infobox.scss";

.callout {
  background-color: var(--bg);
  border-radius: 10px;
  padding: 0 1rem;
  overflow-y: hidden;
  box-sizing: border-box;

  & > .callout-content {
    display: grid;
    transition: grid-template-rows 0.1s cubic-bezier(0.02, 0.01, 0.47, 1);
    overflow: hidden;
    margin-inline-start: 24px;

    & > :first-child {
      margin-top: 0;
    }
  }

  --callout-icon-note: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Lucide by Lucide Contributors - https://github.com/lucide-icons/lucide/blob/main/LICENSE --><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M13.4 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7.4M2 6h4m-4 4h4m-4 4h4m-4 4h4"/><path d="M21.378 5.626a1 1 0 1 0-3.004-3.004l-5.01 5.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"/></g></svg>');
  --callout-icon-abstract: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scroll-text-icon lucide-scroll-text"><path d="M15 12h-5"/><path d="M15 8h-5"/><path d="M19 17V5a2 2 0 0 0-2-2H4"/><path d="M8 21h12a2 2 0 0 0 2-2v-1a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v1a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v2a1 1 0 0 0 1 1h3"/></svg>');
  --callout-icon-info: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info-icon lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>');
  --callout-icon-todo: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><!-- Icon from Pixel free icons by Streamline - https://creativecommons.org/licenses/by/4.0/ --><path fill="currentColor" d="M19.81 10.67V4.58h-1.52v25.9h1.52V12.2h9.14V3.05h-1.52v7.62zm6.1-9.14h1.52v1.52h-1.52Z"/><path fill="currentColor" d="M19.81 3.05h1.52v1.53h-1.52Zm-3.05 27.43h1.53V32h-1.53Zm-1.52-1.52h1.52v1.52h-1.52Zm-1.52-1.53h1.52v1.53h-1.52Zm1.52-18.28h-3.05v1.52h-1.52V9.15H7.62v1.52H6.1v3.05h1.52v1.52h1.52v1.53h1.53v1.52h1.52v-1.52h1.53v-1.53h1.52v-1.52h1.52v-3.05h-1.52zm-3.05 16.76h1.53v1.52h-1.53Zm-1.52-1.52h1.52v1.52h-1.52Zm-1.53 1.52h1.53v1.52H9.14ZM7.62 1.53h13.71v1.52h1.53V1.53h3.05V0H7.62zm0 25.9h1.52v1.53H7.62ZM6.1 28.96h1.52v1.52H6.1Zm0-27.43h1.52v1.52H6.1ZM4.57 30.48H6.1V32H4.57Zm0-27.43H6.1v1.53H4.57ZM3.05 4.58h1.52v25.9H3.05Z"/></svg>');
  --callout-icon-tip: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-lightbulb-icon lucide-lightbulb"><path d="M15 14c.2-1 .7-1.7 1.5-2.5 1-.9 1.5-2.2 1.5-3.5A6 6 0 0 0 6 8c0 1 .2 2.2 1.5 3.5.7.7 1.3 1.5 1.5 2.5"/><path d="M9 18h6"/><path d="M10 22h4"/></svg>');
  --callout-icon-success: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check"><path d="M20 6 9 17l-5-5"/></svg>');
  --callout-icon-question: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-question-mark-icon lucide-circle-question-mark"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>');
  --callout-icon-warning: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-alert-icon lucide-circle-alert"><circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/></svg>');
  --callout-icon-failure: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>');
  --callout-icon-danger: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-skull-icon lucide-skull"><path d="m12.5 17-.5-1-.5 1h1z"/><path d="M15 22a1 1 0 0 0 1-1v-1a2 2 0 0 0 1.56-3.25 8 8 0 1 0-11.12 0A2 2 0 0 0 8 20v1a1 1 0 0 0 1 1z"/><circle cx="15" cy="12" r="1"/><circle cx="9" cy="12" r="1"/></svg>');
  --callout-icon-bug: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bug-icon lucide-bug"><path d="M12 20v-9"/><path d="M14 7a4 4 0 0 1 4 4v3a6 6 0 0 1-12 0v-3a4 4 0 0 1 4-4z"/><path d="M14.12 3.88 16 2"/><path d="M21 21a4 4 0 0 0-3.81-4"/><path d="M21 5a4 4 0 0 1-3.55 3.97"/><path d="M22 13h-4"/><path d="M3 21a4 4 0 0 1 3.81-4"/><path d="M3 5a4 4 0 0 0 3.55 3.97"/><path d="M6 13H2"/><path d="m8 2 1.88 1.88"/><path d="M9 7.13V6a3 3 0 1 1 6 0v1.13"/></svg>');
  --callout-icon-example: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sparkles-icon lucide-sparkles"><path d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"/><path d="M20 2v4"/><path d="M22 4h-4"/><circle cx="4" cy="20" r="2"/></svg>');
  --callout-icon-quote: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square-quote-icon lucide-message-square-quote"><path d="M14 14a2 2 0 0 0 2-2V8h-2"/><path d="M22 17a2 2 0 0 1-2 2H6.828a2 2 0 0 0-1.414.586l-2.202 2.202A.71.71 0 0 1 2 21.286V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2z"/><path d="M8 14a2 2 0 0 0 2-2V8H8"/></svg>');
  --callout-icon-fold: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolyline points="6 9 12 15 18 9"%3E%3C/polyline%3E%3C/svg%3E');

  &[data-callout],
  &[data-callout="info"],
  &[data-callout="todo"]  {
    --color: rgb(67, 133, 190);
    --border: #448aff44;
    --bg: 67, 133, 190;
    --callout-icon: var(--callout-icon-note);
  }

  &[data-callout="abstract"] {
    --color: rgb(58, 169, 159);
    --border: #00b0ff44;
    --bg: 58, 169, 159;
    --callout-icon: var(--callout-icon-abstract);
  }

  &[data-callout="info"] {
    --color: rgb(67, 133, 190);
    --border: #00b8d444;
    --bg: 67, 133, 190;
    --callout-icon: var(--callout-icon-info);
  }

  &[data-callout="todo"] {
    --callout-icon: var(--callout-icon-todo);
  }

  &[data-callout="tip"] {
    --color: rgb(58, 169, 159);
    --border: #00bfa544;
    --bg: 58, 169, 159;
    --callout-icon: var(--callout-icon-tip);
  }

  &[data-callout="success"] {
    --color: rgb(135, 154, 57);
    --border: #09ad7144;
    --bg: 135, 154, 57;
    --callout-icon: var(--callout-icon-success);
  }

  &[data-callout="question"],
   &[data-callout="warning"]  {
    --color: rgb(218, 112, 44);
    --border: #dba64244;
    --bg: 218, 112, 44;
    --callout-icon: var(--callout-icon-question);
  }

  &[data-callout="warning"] {
    --callout-icon: var(--callout-icon-warning);
  }

  &[data-callout="failure"],
  &[data-callout="danger"],
  &[data-callout="bug"] {
    --color: rgb(209, 77, 65);
    --border: #db424244;
    --bg: 209, 77, 65;
    --callout-icon: var(--callout-icon-failure);
  }

  &[data-callout="bug"] {
    --callout-icon: var(--callout-icon-bug);
  }

  &[data-callout="danger"] {
    --callout-icon: var(--callout-icon-danger);
  }

  &[data-callout="example"] {
    --color: rgb(139, 126, 200);
    --border: #7a43b544;
    --bg: 139, 126, 200;
    --callout-icon: var(--callout-icon-example);
  }

  &[data-callout="quote"] {
    --color: rgb(158, 158, 158);
    --border: var(--lightgray);
    --bg: 158, 158, 158;
    --callout-icon: var(--callout-icon-quote);
  }

  box-shadow:
    rgba(0, 0, 0, 0.04) 0px 2px 8px -2px,
    rgba(255, 255, 255, 0.04) 0px 2px 4px -2px;
  background: linear-gradient(rgba(var(--bg), 0.1), rgba(var(--bg), 0.2));
  border: 1px solid rgba(var(--bg), 0.25);

  &.is-collapsed {
    & > .callout-title > .fold-callout-icon {
      transform: rotateZ(-90deg);
    }

    .callout-content {
      & > * {
        transition:
          height 0.1s cubic-bezier(0.02, 0.01, 0.47, 1),
          margin 0.1s cubic-bezier(0.02, 0.01, 0.47, 1),
          padding 0.1s cubic-bezier(0.02, 0.01, 0.47, 1);
        overflow-y: clip;
        height: 0;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
        padding-top: 0;
      }
      & > :first-child {
        margin-top: -1rem;
      }
    }
  }
}

.callout-title {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  padding: 0.5rem 0;
  color: var(--color);

  --icon-size: 18px;

  & .fold-callout-icon {
    transition: transform 0.15s ease;
    opacity: 0.8;
    cursor: pointer;
    --callout-icon: var(--callout-icon-fold);
  }

  & > .callout-title-inner > p {
    color: var(--color);
    margin: 0;
  }

  .callout-icon,
  & .fold-callout-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    flex: 0 0 var(--icon-size);

    // icon support
    background-size: var(--icon-size) var(--icon-size);
    background-position: center;
    background-color: var(--color);
    mask-image: var(--callout-icon);
    mask-size: var(--icon-size) var(--icon-size);
    mask-position: center;
    mask-repeat: no-repeat;
    padding: 0.3rem 0;
  }

  .callout-title-inner {
    font-weight: $semiBoldWeight;
    b, strong {
      font-weight: $boldWeight;
      color: inherit;
    }
  }
}
